<% if model.errors.any? %>
  <div class="error-alert">
    <ul>
      <% model.errors.full_messages.each do |reservation| %>
        <li class='error-message'><%= reservation %></li>
      <% end %>
    </ul>
  </div>
<% end %>