<div class='footer'>
  <div class='footer-details'>
    <%= link_to 'Twitter', "#", class: "twitter-link" %>
    <%= link_to 'Instagram', "#", class: "instagram-link" %>
    <%= link_to 'Facebook', "#", class: "facebook-link" %>
  </div>
  <p>©︎Active Travel</p>
</div>