    <footer class="second-footer">
    <ul class="second-fotter-menu">
      <li><a href="#">フォローアス</a></li>
      <li><a href="#">ツイッター</a></li>
      <li><a href="#">インスタ</a></li>
    </ul>
    <p class="second-fotter-inc">
      ©︎Active Travel,Inc.
    </p>
    </footer>